<div id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h4>Sitio</h4>
				<a href="#/">Inicio</a><br>
				<a href="#/nuevo_caso">Nuevo caso</a><br>
				<a href="#/personas">Personas</a><br>
				<a href="#/reportes">Reportes</a><br>
				<a href="#/configuracion">Configuración</a><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h4>Ayuda</h4>
				<a href="#">Preguntas frecuentes</a><br>
				<a href="#">Contacto</a><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h4>Extra</h4>
				<a href="" target="_blank">Item 1</a><br>
				<a href="" target="_blank">Item 2</a><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h4>Acerca de</h4>
				<a href="#">Desarrolladores</a><br>
			</div>
		</div>
	</div>
</div>
