<div class="table-responsive">
  <div data-ng-hide="person.contact_data.length" class="alert alert-info" role="alert">No hay datos de contacto cargados.</div>
  <table data-ng-show="person.contact_data.length" class="table table-striped table-hover">
    <tbody>
      <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th></th>
    </tr>
    </tbody>
    <tbody>
      <tr data-ng-repeat="c in person.contact_data track by $index">
        <td>{{getTypeName(c)}}</td>
        <td>{{c.value}}</td>
        <td><a href="" data-ng-click="removeContact($index)" class="pull-right"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-3">
    <label for="contact_type">Tipo</label>
    <select id="contact_type" data-ng-model="contact.contact_data_type_id" class="form-control">
      <option data-ng-repeat="t in contacts" value="{{t.id}}">{{t.type}}</option>
    </select>
  </div>
  <div class="col-md-9">
    <label for="contact_value">Valor</label>
    <input id="contact_value" type="text" class="form-control" placeholder="Valor" data-ng-model="contact.value">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <button class="btn btn-primary pull-right" data-ng-click="addContact()"><i class=" glyphicon glyphicon-plus"></i> Agregar</button>
  </div>
</div>
